<section class="main">
  <p class="flash"><%= notice %><%= alert %></p>
  <h1>トップページについて</h1>
  <p>
     大課題3では、今までと違ってトップページには必ず何らかのコンテンツを入れます。<br>
     内野さんのようにDeviseを入れるもよし、ログインせずともトピックだけは見られるようにするもよし、とにかく無意味な画像を載せたような屑トップページにはしない。
  </p>
</section>
